body{
    background-color: white;
}
.profile-card > img{
    width: 85%;
    height:85%;
    box-sizing: border-box;
    border: 3px solid black;
}
.profile-card{
    width: 50%;
    box-sizing: border-box;
    font-size:x-small;
    font-family: sans-serif;
}
main{
    display: flex;
    float:right;
}
.second{
    border: 9px solid rgb(9, 0, 128);
    width: 50%;
    height: 85%;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 0, 128);
    color: white;
}
button{
    background-color: black;
    color: white;
    display: block;
    padding: 2px 2px 2px;

}
